@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Header {
  background-color: rgb(101, 94, 94);
  color: white;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  box-shadow: 10px 10px 32px -12px rgba(0, 0, 0, 0.75);
  font-size: 40px;
}

.digiName {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageBox {
  display: flex;
  margin-left: 33rem;
  width: 500px;
}